#questions-container {
    background: rgba(255, 255, 255, 0.13);
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem 0;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    color: #2b2d42;
}

#questions-container h2 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: #2b2d42;
    font-weight: 500;
    letter-spacing: 0.5px;
}

#questions-container .options {
    display: grid;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

#questions-container .options button {
    background: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem;
    border-radius: 3px;
    color: #2b2d42;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    text-align: left;
}

#questions-container .options button:hover {
    background: rgba(255, 255, 255, 0.13);
    letter-spacing: 1.5px;
    border-color: rgba(31, 42, 68, 0.25);
}


/* Text input */
#answer-input {
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 0.8rem 1.2rem;
    border-radius: 6px;
    color: #2b2d42;
    font-size: 1rem;
    width: 250px;
    transition: all 0.3s ease;
    margin-right: 0.8rem;
}

#answer-input:focus {
    border-color: #4361ee;
    background: rgba(255, 255, 255, 1);
    outline: none;
    box-shadow: 0 0 0 3px rgba(67, 97, 238, 0.1);
}
