/*

Loading the Image for the initial background

*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/images/Code-Quest.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}



/*
for darker overlay and more contrast to the background image
*/
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;

}


.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h1 span {

    color: #f9b234;
}

input {
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    text-align: center;

}

button {
    padding: 10px 25px;
    font-size: 1rem;
    color: white;
    background-color: #f9b234;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;

}

button:hover {
    background-color: #e29d1f;
}